@media only screen and (max-width: 767px)   {
    #container{
    display: flex;
    flex-direction:column;
   
}

header,nav,div,footer{
    width:100%;
    margin:3px;
}

header,div{
    height:500px;
}

nav,footer{
    height:150px;
}
}
