
#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*fr units are flexible for the size of the screen*/
    grid-gap: 10px;
    grid-auto-rows: minmax(40px, auto); /*minmax makes the height a minimum of 40 or at large as it needs to be.*/
}

header {
    grid-column: 1 / 4;
    grid-row: 1/2;
    background-color:#000;
    color:#fff;
}

header h1{ /*this means only the h1 tags that are inside the header are affected*/
    font-size: 10em;
    text-align:center;
    margin:0; /*h1 normally has a fairly large margin around it.*/
}

nav{
    grid-column: 1 / 4;
    grid-row: 2/3;
    background-color:#0f0;
    /*below creates a flexbox setup within the nav*/
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-around;
  
}

nav div{
    font-size:2em; 
}

.box1 { 
  grid-column: 1/2;
  grid-row: 3 / 10;
  background-color:#1e2c46;
}

.box1 h2{
    font-size:5em;
    text-align:center; 
    margin:0;
    padding:.5em 0;
    color:#fff;
}

.box2{
  grid-column: 2/4;
  grid-row: 3/10;
  background-size:cover;
  background-image:url("images/navy_floral.jpg");
  position:relative; /*this allows absolute positioning to happen inside the main with the class of .box2--see below*/
}

.box2 h2{
    position:absolute;/*these three lines control the exact placement of the text within the box*/
    bottom:5px;
    left:25px;
    font-size:5em;
    color:#ddd;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /*makes a border around the text*/
}
nav a:link{
    text-decoration: none;
    color:#000;
}

nav a:hover{
    color:#00f;
}


footer {
  grid-column: 1/4;
  grid-row: 10/13;
  background-image:url("images/red_leaves.jpg");
  background-size:contain;
}



